.default-row .row >.col, .col-1{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(39,41,43,0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.le-cah-containerli
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal;
}
