body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #000000;
}



.profileBg{
  margin-left: 50px;
  color: white;
  position: absolute;
  top: 200px;
  background-color: #000000ca;
  box-shadow: 5px 5px 15px 5px #000000; 
}
.profileItens{
  display: flex;
  align-items: center;
}
.profileImg{
box-shadow: 5px 5px 15px 5px #000000; 
transform: scaleX(-1);
width: 100px;
}
.profileText{
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
#imgPresentation{
  transform: scaleX(-1);
  box-shadow: 1px 1px 5px 1px #f7f8f754; 
}




#SideBar{
  max-width: 300px;
  color: white;
  padding-left: 25px;  
  padding-right: 25px; 
  box-shadow: 1px 1px 7px 1px #f7f8f754; 
  background-color: #242424;
  height: 100vh;
}






#SideBar .side-logo{
  text-shadow: 1px 1px 2px black;
  font-weight: bolder;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.sidebar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}








/*///accordion///*/

.accordion button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  width: 300px;
  border: none;
  text-align: left;
  font-size: 20px;
  text-shadow: 1px 1px 2px black;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom:1px solid #f7f8f754 ;
}

.active  .ac-panel {
  display: block !important;
}



.accordion button:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active button:after {
  content: "\2212";
}
.ac-panel {
  padding: 0 5px;
  display: none;
  overflow: hidden;
}
.ac-panel .ac-item {
  margin: 20px 15px;
}




section{
  opacity: 0.5;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
section:before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 10000;
}
section:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 10000;
  mix-blend-mode: color;
}
section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
#text{
  position: relative;
  color: #fff;
  font-size: 10em;
  z-index: 1;
}
#road{
  z-index: 2;
}